:host {
  display: flex;
  flex-direction: column;
}

$line-color: #aaa;

.timeline-item {
  $padding-width: .4em;

  display: grid;
  grid-template-columns: 100px 20px 1fr;
  padding: $padding-width;

  &:not(:last-child) {
    .dot::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid $line-color;
      height: calc(100% + (#{$padding-width} * 2));
      top: .3em;
    }
  }
}

.dot {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;

  &::before {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid $line-color;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: .3em;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
}
